* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back: #1E1C29;
  --primary: #4163D1;
  --menu-color: #252537;
  --menu-color-hover: #4e4e69;
  --hover-color: #6B83E5;
}

div.App {
  display: flex;
  max-width: 1400px;
  height: 100%;
  background: var(--back);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

div.barraLateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  height: 95vh;
  border-radius: 20px;
  background: var(--primary);
}

div.barraLateral h3 {
  margin-top: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
}

div.icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 80px;
}

div.icones button {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

div.icones button:hover {
  cursor: pointer;
  background: var(--hover-color);
}

div.exit {
  margin-top: 140px;
}

div.exit button {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

div.exit button:hover {
  cursor: pointer;
  background: var(--hover-color);
}

section {
  margin-top: 20px;
  margin-left: 20px;
}

div.superior{
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.superior input {
  width: 400px;
  padding: 15px;
  background-color: var(--menu-color);
  border: none;
  border-radius: 10px;
}

div.superior > .buttons-superior button {
  padding: 15px;
  background-color: var(--menu-color);
  border: none;
  margin-left: 10px;
  border-radius: 10px;
}

div.superior > .buttons-superior button:hover {
  background-color: var(--hover-color);
}