@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



* {
    margin: 0;
    padding: 0;
}

:root {
    /* cores */
    --preto: #151515;
    --branco: #FBFBFB;
    --verde: #4de29f;
    /* fontes */
    --fonte: 'Poppins', sans-serif;;
}

body {
    background-color: var(--preto);
    font-family: var(--fonte);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


section {
    margin-top: 20px;
    width: 100%;
    max-width: 850px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.bloco1 {
    background: url('../imagens/IMG_20230916_084019_790\ 1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: space-between; /* Alinha os itens à esquerda e à direita */
    margin-bottom: 80px;
}

.links p {
    font-size: 20px;
    font-weight: 700;
}

.links > div > a {
    color: var(--branco);
    font-size: 20px;
    margin-right: 20px;
    padding: 2px;
    transition: color 0.3s ease-in-out;
}

.links > div > a:hover {
    color: var(--verde);
}

.apresen h1 {
    font-size: 60px;
    width: 600px;
    line-height: 55px;
    margin-bottom: 20px;
}

.apresen h1 > strong {
    text-decoration: underline var(--verde) 4px;
}

.apresen p {
    font-size: 12px;
    width: 400px;
    margin-bottom: 90px;
    line-height: 25px;
}

button.contact {
    position: relative;
    margin-top: 20px;
    background-color: transparent;
    color: var(--branco);
    border: none;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 3px;
}

button.contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px; /* Altura da linha */
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #4de29f 0%, #4de29f 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    transition: height 0.5s ease-in-out, background-position 1s ease-in-out, background-color 1s ease-in-out;
}

button.contact:hover::before {
    height: 100%; /* Altura final de 4px */
    background-color: var(--verde);
    font-weight: 700;
    z-index: -1;
}

/* Adicione esta regra para garantir que a altura inicial seja exibida mesmo quando não estiver em foco */

button.contact::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--verde);
}


.linha {
    background-color: var(--branco);
    height: 1px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.bloco2 {
    display: flex;
    margin-bottom: 90px;
    justify-content: space-between;
}

.linguagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas iguais */
    gap: 20px; /* Espaçamento entre as colunas */
}

.linguagens > div{
    font-size: 40px;
    font-weight: 500;
    flex-basis: 30%; /* Define a largura de cada coluna */
    padding: 10px; /* Espaçamento interno */
}

.linguagens > div > p {
    font-size: 12px;
    font-weight: 400;
}

.bloco3 {
    margin-bottom: 90px;
}

.links2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.links2 h1 {
    font-size: 50px;
}


.projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria 3 colunas iguais */
    gap: 5px; /* Espaçamento entre as colunas */
}

.projetos a {
    display: inline-block;
    color: var(--branco);
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.projetos a:hover {
    background-color: transparent;
    color: #4de29f; /* Nova cor ao passar o mouse */
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

.lingua {
    display: flex;
}

.lingua p {
    margin-left: 10px;
    font-size: 14px;
    padding-bottom: 5px;
}

.poj {
    background-color: rgba(169, 169, 169, 0);
    width: 415px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s; /* Adicionado para uma transição suave de cor */
    margin: 0 10px 10px 0;
}

.poj img {
    width: 415px;
    height: 300px;
}

.poj h3 {
    padding-left: 10px;
    font-size: 22px;
    margin-bottom: 10px;

}

.poj:hover {
    background-color: #4c4c4c;
    transform: scale(1.05);
}

footer {
    display: flex;
    padding-bottom: 90px;
    background-color: #242424;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#both {
    clear:both;
    max-width: 850px;
}

#main_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.contato {
    margin-right: 70px;
}

.contato h1 {
    font-size: 50px;
}

.contato p {
    font-size: 12px;
    width: 400px;
    margin-bottom: 90px;
    line-height: 25px;
}

#main_footer > form {
    margin-left: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

input, textarea {
    color: var(--branco);
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    transition: height 0.3s;
}

.textarea-container {
    position: relative;
}

textarea {
    margin-top: 20px;
    height: 50px; /* Altura inicial desejada */
    resize: none; /* Impede redimensionamento manual do textarea */
    font-family: var(--fonte);
    font-size: 12px;
}

textarea:valid {
    height: 100%; /* Altura automática quando há texto dentro */
}

label {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: var(--branco);
    font-size: 12px;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1;
}

#msg-label {
    bottom: 15px;
}

.textarea-container textarea:focus, input:focus {
    border-bottom: 1px solid #4de29f; /* Adiciona destaque ao focar */
}

.textarea-container textarea:focus {
    height: 90px; /* Altura aumentada ao focar */
    font-size: 10px;
    font-family: var(--fonte);
}

textarea:focus + label#msg-label {
    bottom: 95px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input:focus + label {
    bottom: 35px;
    font-size: 10px;
}


form > button {
    position: relative;
    margin-top: 20px;
    background-color: transparent;
    color: var(--branco);
    border: none;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 3px;
}

form > button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px; /* Altura da linha */
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #4de29f 0%, #4de29f 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-in-out, background-color 0.5s ease-in-out;
    animation: moveBackground 2s linear infinite; /* Adiciona uma animação ao fundo */
}

@keyframes moveBackground {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

form > button:hover::before {
    background-position: -100% 0;
    background-color: #4de29f; /* Cor de fundo durante a transição */
}

form > button:hover {
    text-decoration: none; /* Remover sublinhado ao passar o mouse */
}

.linha2 {
    background-color: var(--branco);
    height: 1px;
    width: 100%;
}


.bloco1, .bloco2, .bloco3, .poj, footer {
    visibility: hidden;
}

@media only screen and (max-width: 400px) {
    section {
        display: block;
        max-width: 90vh;
    }

    .links {
        display: grid;
        justify-content: center;
        margin-bottom: 30px;
    }

    .links p {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .links2 {
        display: flex;
        justify-content: space-between;
    }
    
    .links2 h1 {
        font-size: 30px;
    }

    .my-img {
        background-color: #cfcfcf;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: inset 0px 0px 1px 0px;
        width: 200px;
        height: 300px;
        background: url('../imagens/IMG_20230916_084019_790\ 1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 40px;
    }

    .bloco1 {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: none;
    }

    .apresen {
        display: flex;
        text-align: center;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    .apresen h1 {
        text-align: center;
        font-size: 40px;
        width: 240px;
        line-height: 40px;
    }
    
    .apresen p {
        text-align: center;
        font-size: 12px;
        max-width: 70%;
        margin-bottom: 60px;
        line-height: 20px;
    }

    .projetos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        justify-items: center;
    }

    .bloco2 {
        display: block;
    }

    .linguagens {
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .linguagens > div{
        font-size: 40px;
        font-weight: 500;
        padding: 10px; /* Espaçamento interno */
    }

    .poj {
        background-color: rgba(169, 169, 169, 0);
        max-width: 60%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden; /* Adicionado para cortar a borda ao escalar */
        transition: background-color 0.3s; /* Adicionado para uma transição suave de cor */
    }
    
    .poj img {
        max-width: 100%;
        height: 250px;
    }
    
    .poj h3 {
        padding-left: 10px;
        font-size: 22px;
        margin-bottom: 10px;
    
    }

    #main_footer {
        display: grid;
        justify-content: center;
        margin-top: 50px;
    }

    footer {
        display: flex;
        padding-bottom: 90px;
        background-color: #242424;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .contato {
        display: grid;
        justify-content: center;
        text-align: center;
        margin-right: 0px;
    }
    
    .contato h1 {
        text-align: center;
        font-size: 40px;
    }
    
    .contato p {
        width: 300px;
        font-size: 12px;
        margin-bottom: 90px;
        line-height: 25px;
        text-align: center;
    }
    
    #main_footer > form {
        margin-left: 0px;
    }

}

/* Para telas menores que 768px (exemplo: smartphones) */

@media only screen and (min-width: 401px) and (max-width: 780px) {
    
    section {
        display: grid;
        max-width: 90%;
        justify-content: center;
    }

    .links {
        display: grid;
        justify-content: center;
        margin-bottom: 30px;
    }

    .links p {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }

    .my-img {
        background-color: #cfcfcf;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: inset 0px 0px 1px 0px;
        width: 200px;
        height: 300px;
        background: url('../imagens/IMG_20230916_084019_790\ 1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 40px;
    }

    .bloco1 {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: none;
    }

    .apresen h1 {
        text-align: center;
        font-size: 40px;
        width: 100%;
        line-height: 40px;
    }
    
    .apresen p {
        text-align: center;
        font-size: 12px;
        width: 100%;
        margin-bottom: 60px;
        line-height: 20px;
    }

    .projetos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        justify-items: center;
    }

    .bloco2 {
        display: block;
    }

    .linguagens {
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .linguagens > div{
        font-size: 40px;
        font-weight: 500;
        padding: 10px; /* Espaçamento interno */
    }

    .poj {
        background-color: rgba(169, 169, 169, 0);
        max-width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden; /* Adicionado para cortar a borda ao escalar */
        transition: background-color 0.3s; /* Adicionado para uma transição suave de cor */
    }
    
    .poj img {
        max-width: 100%;
        height: 250px;
    }
    
    .poj h3 {
        padding-left: 10px;
        font-size: 22px;
        margin-bottom: 10px;
    
    }

    #main_footer {
        display: grid;
        justify-content: center;
        margin-top: 50px;
    }

    footer {
        display: flex;
        padding-bottom: 90px;
        background-color: #242424;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .contato {
        display: grid;
        justify-content: center;
        text-align: center;
        margin-right: 0px;
    }
    
    .contato h1 {
        text-align: center;
        font-size: 40px;
    }
    
    .contato p {
        width: 300px;
        font-size: 12px;
        margin-bottom: 90px;
        line-height: 25px;
        text-align: center;
    }
    
    #main_footer > form {
        margin-left: 0px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .input-container {
        position: relative;
        margin-bottom: 20px;
    }



    /* Adicione mais ajustes conforme necessário */
}

/* Para telas entre 481px e 768px (exemplo: tablets) */
@media only screen and (min-width: 781px) and (max-width: 888px) {
    
    section {
        max-width: 90%;
    }

    .apresen h1 {
        width: 80%;
        font-size: 50px;
        line-height: 50px;
    }
    
    .apresen p {
        font-size: 10px;
        width: 50%;
        margin-bottom: 60px;
        line-height: 20px;
    }

    .projetos {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Cria 3 colunas iguais */
        gap: 20px; /* Espaçamento entre as colunas */
    }

    .poj {
        background-color: rgba(169, 169, 169, 0);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden; /* Adicionado para cortar a borda ao escalar */
        transition: background-color 0.3s; /* Adicionado para uma transição suave de cor */
    }
    
    .poj img {
        max-width: 100%;
        height: 250px;
    }
    
    .poj h3 {
        padding-left: 10px;
        font-size: 22px;
        margin-bottom: 10px;
    
    }


    #main_footer {
        display: grid;
        justify-content: center;
        margin-top: 50px;
    }

    .contato {
        margin-right: 0px;
    }
    
    .contato h1 {
        text-align: center;
        font-size: 50px;
    }
    
    .contato p {
        font-size: 12px;
        width: 400px;
        margin-bottom: 90px;
        line-height: 25px;
        text-align: center;
    }
    
    #main_footer > form {
        margin-left: 0px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .input-container {
        position: relative;
        margin-bottom: 20px;
    }

}