@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.959);
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 6em;
}

header p {
    padding-bottom: 10vh;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
}

/* Estilo do pseudo-elemento ::after */
a::after {
    /* Cria um conteúdo vazio */
    content: "";
    /* Posiciona o elemento de forma absoluta em relação ao link */
    position: absolute;
    /* Define a largura e a altura do elemento */
    width: 0;
    height: 2px;
    /* Define a cor do elemento */
    background-color: white;
    /* Define a posição do elemento abaixo do link */
    left: 0;
    bottom: 0;
    /* Adiciona uma transição de 0.3 segundos com efeito de ease-in-out */
    transition: width 0.2s ease-in-out;
}

/* Estilo do pseudo-elemento ::after quando o mouse passa sobre o link */
a:hover::after {
    /* Define a largura do elemento como 100% do link */
    width: 100%;
}

section {
    font-size: 2em;
    font-family: var(--fonte3);
}

section p {
    padding: 20px 50px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background: rgb(0, 0, 0) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagem p {
    display: inline-block;
    padding: 20px;
    margin: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.671);
    box-shadow: inset 1px 1px 13px 0px rgba(255, 255, 255, 0.589);
    border-radius: 10px;
}
#img1 {
    background-image: url('imagens/mr-robot1.jpeg');
}
#img2 {
    background-image: url("imagens/mr-robot2.jpeg");
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilo para telas grandes (desktops e laptops) */
@media screen and (min-width: 1024px) {
    section {
        width: 100%;
        font-size: 2em;
    }
  }
  
/* Estilo para telas médias (tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    section {
        width: 100%;
        font-size: 1.6em;
    }
}

/* Estilo para telas pequenas (celulares) */
@media screen and (max-width: 767px) {
    header h1{
        font-size: 8vh;
    }

    section {
        width: 100%;
        font-size: 1.2em;
    }
}