@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf) format(truetype);
}

/* 

variáveis que podemos usar em todo o site

:root {
    --cor1: #1A5C34;
    --cor2: #fff;
}

*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    background-image: linear-gradient(to top, #1A5C38, #3DDA84);
}

strong {
    color: #1A5C38;
}

header h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}

header p {
    text-align: center;
}

header nav {
    margin-top: 30px;
    padding-bottom: 10px;
    margin-left: 10px;
}

header a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    text-align: left;
    padding: 10px;
}

header a:hover {
    background-color: #3DDA84;
    animation-delay: 0.5s;
}

main {
    min-width: 430px;
    max-width: 1000px;
    background-color: white;

    color: black;
    margin: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.507);
    border-radius: 0px 0px 10px 10px;
}

main h2 {
    margin: 0px;
    font-family: android;
    color: #1A5C38;
    padding: 20px;
}

main h2.fundo {
    background-image: linear-gradient(to right, #3dda8498, #3dda8400 50%);
}

main p {
    text-align: justify;
    text-indent: 30px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main a {
    color:#1A5C38;
    font-weight: bold;
}

main img {
    width: 100%;
}

main img#pequeno {
    width: 50%;
    display: block;
    margin: auto;
}


main div#video {
    background-color: #1A5C38;
    padding: 10px;
}

#video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* Proporção de 16:9 (altura / largura) */
    padding-top: 25px; /* Altura do header ou qualquer espaço adicional acima do vídeo */
    height: 0;
}

#video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* Proporção de 16:9 (altura / largura) */
    background-color: #1A5C38; /* Cor de fundo desejada */
}

#video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajuste a largura do vídeo conforme necessário */
    height: 80%; /* Ajuste a altura do vídeo conforme necessário */
}

div#extra {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1A5C38;
    border-radius: 10px 10px 10px 10px;
}

div#extra h3 {
    padding: 10px;
    background-color: #3DDA84;
    border-radius: 10px 10px 0px 0px;
}

div#extra p{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
div#extra ul {
    margin-left: 30px;
    color: #fff;
}

div#extra strong {
    color: #fff;
}

div#extra a {
    color: white;
}

main p#fim {
    padding-top: 10px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #1A5C38;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

footer a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    /* Outros estilos */
}
