@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;500;700&display=swap');

/*font-family: 'Archivo', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --titulos: 'Archivo'
}

body {
    background-color: #ffffff;
}


#links-container {
    font-family: var(--titulos);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

#links1 img {
    margin-right: 30px;
}

#create {
    margin-left: 15px;
    padding: 15px 20px;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
}

#create:hover {
    background-color: #4b4b4b;
}

#create:active {
    animation-duration: 2s;
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 1px inset black;
}

#links1 a, #links2 a {
    text-decoration: none;
}

a#home, a#login {
    color: #272727;
    position: relative; /* Para posicionar o pseudo-elemento */
    text-decoration: none; /* Removendo o underline padrão */
}

a#home::after, a#login::after {
    content: ""; /* Criando um pseudo-elemento para a animação */
    position: absolute; /* Posicionando o pseudo-elemento */
    left: 0; /* Alinhando à esquerda */
    bottom: -1px; /* Ajustando a posição vertical */
    width: 0; /* Começa sem largura */
    height: 2px; /* Altura da linha */
    background-color: #272727; /* Cor da linha */
    transition: width 0.3s ease; /* Animação da largura */
}

a#home:hover::after, a#login:hover::after {
    width: 100%; /* Largura completa ao passar o mouse */
}

#links1 {
    display: flex; /* Adiciona flex para #links2 */
    align-items: center; /* Alinha itens verticalmente dentro de #links2 */
}

#links2 {
    display: flex; /* Adiciona flex para #links2 */
    align-items: center; /* Alinha itens verticalmente dentro de #links2 */
}

#busca {
    background-color: rgba(214, 181, 156, 0.226);
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
    font-family: var(--titulos);
    margin-bottom: 20px;
}

#busca h1 {
    padding: 40px 50px 10px;
}

#busca p {
    margin-left: 50px;
    font-weight: 300;
    width: 350px;
    margin-bottom: 20px;
}

div#caixa_busca_div {
    display: block;
}

#caixa_busca {
    font-size: 13px;
    margin-left: 50px;
    padding-left: 35px; /* Espaço para acomodar a imagem */
    padding-right: 20px; /* Adiciona um espaçamento à direita para melhor aparência */
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url('../Assets/Search Icon.svg');
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.596);
    opacity: 0.8;
    backdrop-filter: blur(5px);
    /* Adiciona uma borda para melhorar a aparência */
    border-radius: 5px;
    outline: none; /* Remove a borda padrão ao focar */
    height: 30px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Garante que a largura total inclua padding e borda */
}

#busca button {
    margin-left: 10px;
    padding: 15px;
    color: #ffffff;
    background-color: black;
    border-radius: 5px;
    border: none;
}

#busca button:hover {
    background-color: #4b4b4b;
}

#busca button:active {
    animation-duration: 2s;
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 1px inset black;
}

#busca p#add_camp {
    margin-top: 10px;
    margin-bottom: 10px;
}

#busca a {
    color: rgb(44, 44, 44);
    font-size: 14px;
}

#bloco_camps {
    font-family: var(--titulos);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espaçamento entre as colunas */
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 60px;
}

#bloco_camps > div {
    text-align: left; /* Alinhar o conteúdo no centro */
    border: 1px solid #ccc; /* Adicionar borda para melhor visualização */
    padding: 15px; /* Adicionar algum espaçamento interno */
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.171);
}

#bloco_camps img {
    width: 100%; /* Ajustar a largura da imagem para ocupar 100% da largura do contêiner pai */
    height: auto; /* Manter a proporção da imagem */
    border-radius: 5px;
    margin: auto;
}

#bloco_camps h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}

#bloco_camps p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 17px;
}

#bloco_camps > div > input {
    margin: auto;
    width: 53vh;
    height: 10vh;
    display: block;
    
    color: black;
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 1px 0px inset black;
    
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: white; /* Cor inicial */
    transition: background-color 0.5s ease; /* Animação da transição */
}

#bloco_camps > div > input:hover {
    background-color: black; /* Cor ao passar o mouse */
    color: white;
}

#bloco_camps > div > input:active {
    animation-duration: 4s;
    background-color: rgb(184, 184, 184);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}